*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'open sans' sans-serif ;
}


body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://backiee.com/static/wallpapers/1000x563/365661.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.log{
    text-decoration:wavy;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    background: linear-gradient(90deg,rgb(227, 26, 26),rgb(225, 120, 22),rgb(226, 164, 49));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

header{
    position: relative;
    padding: 0 2rem;
}


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .links{
    display: flex;
    gap: 1rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size:1.5rem;
    cursor: pointer;
    display: none;
}


.action_btn{
    background-color: orange;
    color: #fff;
    padding: 1em 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    bottom: -400px;
    left:-1100px;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

.down_btn{
    background-color: orange;
    color: #fff;
    padding: 1em 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    bottom: -96px;
    left:-800px;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.down_btn:hover{
    scale: 1.05;
    color: #fff;
}

.down_btn:active{
    scale: 0.95;
}
h1{
    color: #fff;
    position: relative;
    bottom: -150px;
    float: right;
    left: -990px;
    background: linear-gradient(90deg,rgb(227, 26, 26),rgb(225, 120, 22),rgb(226, 164, 49));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    text-transform: capitalize;
}

@media (width <= 412px) {
    h1{
        position: relative;
        left: -10px;
        flex-direction:row;

}
    .navbar{
        flex-direction: column;
    }
}
.a{
    height: 130px;
    width: 200px;
    position: relative;
    border-radius: 10px;
    right: -410px;
    bottom: -275px;
}
.b{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: -200px;
}
.c{
     height: 130px;
     width: 200px;
     border-radius: 10px;
     position: relative;
     top: -500px;
     float: left;
}
.d{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: -415px;
}
.e{
    height: 130px;
    width: 200px;
    border-radius: 10px;
}
.f{
    height: 130px;
    right: -1030px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    bottom: -140px;
}
.g{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: -615px;
    bottom: -140px;
}
.h{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: -110px;
}
.i{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right:-115px;
}
.j{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: -120px;
}
.k{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    float: right;
    left: -50px;
}